<header>
  <div class="header">
    <%= image_tag("logo.png", :alt => "The Byte Stuff", :class => "round") %>
  </div>
  <nav class="round">
    <ul>
      <li><%= link_to  "Home", '#' %></li>
      <li><%= link_to  "Products", '#' %></li>
      <li><%= link_to  "About Us", '#' %></li>
      <li><%= link_to  "Help", '#' %></li>
      <li><%= link_to  "Sign In", '#' %></li>
    </ul>
  </nav>
</header>